<!-- Launches Neato Gazebo simulation in an empty world -->
<launch>
  <arg name="gui" default="true"/>
  <!-- start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="gui" value="$(arg gui)"/>
  </include>
  
  <!-- spawn the robot -->
  <include file="$(find neato_gazebo)/launch/robot.launch"/>
</launch>
