<!-- Launches Neato Gazebo simulation in an empty world -->
<launch>
  <arg name="gui" default="true"/>
  <arg name="load_camera" default="false"/>
  <arg name="use_gpu_laser" default="true"/>
  <arg name="neato_world" default="empty"/>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="1.5"/>
  <!-- start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="gui" value="$(arg gui)"/>
    <arg name="world_name" value="$(find neato_gazebo)/worlds/$(arg neato_world).world"/>
  </include>
  
  <!-- spawn the robot -->
  <include file="$(find neato_gazebo)/launch/robot.launch">
   <arg name="x" value="$(arg x)"/>
   <arg name="y" value="$(arg y)"/>
   <arg name="z" value="$(arg z)"/>
   <arg name="load_camera" value="$(arg load_camera)"/>
   <arg name="use_gpu_laser" value="$(arg use_gpu_laser)"/>
  </include>
</launch>
