<?xml version="1.0"?>

<model>
  <name>Neato with Camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Paul Ruvolo</name>
    <email>paul.ruvolo@olin.edu</email>
  </author>

  <description>
    A simulated Neato with a follow camera.
  </description>
</model>
